		<header>
			<div class="container">
				<div class="row">
					<div class="responsive-logo"></div>
					<div class="pullcontainer">
						<a href="#" id="pull"><i class="fa fa-bars fa-2x"></i></a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<nav>
							<div class="logo-holder"></div>
							<ul class="clearfix">
								<li><a href="#about">About Us</a></li>
								<li class="dot">.</li>
								<li><a href="#work" class="r_spacer">Work</a></li>
								<li><a href="#shop">Shop</a></li>
								<li class="dot">.</li>
								<li><a href="#contact">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<div class="hero"></div>
		</header>
		<div class="container-fluid intro" id="about">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="chain">Toute une histoire</h1>
					<p class="text-intro">De fil en aiguille, Nicole Vilo a su tisser sa toile dans le domaine de l'art végétal et du recyclage ... </p>

				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 section-1 nopadding" id="work">
				<!--	<div class="logo-1 wp1"></div>-->
				</div>
				<div class="col-md-4 section-text nopadding">
					<div class="wp4">
						<h2 class="frame">La fibre artistique</h2>
						<p>
              Décoratrice à ses débuts, elle crée le buzz en 2003 en coiffant les femmes d'une soirée de carnaval en Martinique avec une panoplie
              de turbans multicolores soigneusement façonnés en matière 100% naturelle. Victime de son succès, tout le monde se les arrache et passe commande !
            </p>
						<div class="thin-sep"></div>
					</div>
					<div class="small-featured-img seat-red">
						<div class="arrow"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 section-text nopadding">
					<div class="wp5">
						<h2 class="mech">L'âme d'une créatrice</h2>
						<p>
              De là fleurit l'idée de lancer ses collections de chapeaux puis de bustiers chics avec comme fil conducteur le coco.
              La demande grandissant, Nicole devient dès lors créatrice de sa ligne complète de vêtements et accessoires :
              ceintures, bijoux, robes de soirée, robes de mariées...sans oublier ses premiers amours : les chapeaux !
            </p>
						<div class="thin-sep"></div>
					</div>
					<div class="small-featured-img seat-black">
						<div class="arrow"></div>
					</div>
				</div>
				<div class="col-md-8 section-2 nopadding">
				<!--	<div class="logo-2 wp2"></div>-->
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 section-3">
				<!--	<div class="logo-3 wp3"></div>-->
				</div>
				<div class="col-md-4 section-text nopadding">
					<div class="wp6">
						<h2 class="front-frame">Sa devise : tout recycler pour mieux créer !</h2>
  						<p>
                Sa nouvelle obsession ? Donner une seconde vie aux capsules, papiers, cartons, plastiques, caoutchoucs, pour en faire de véritables œuvres d'art !</p>
                <p><b>Nicole Vilo : des créations uniques en tout genre, 100% naturelles et écologiques, faites main de A à Z ! </b></p>

						<div class="thin-sep"></div>
					</div>
					<div class="small-featured-img frame-red">
						<div class="arrow"></div>
					</div>
				</div>
				<div class="col-md-4 section-4"></div>
			</div>
		</div>
		<section class="flex-container">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="flexslider">

									<div class="flex-twitter-icon"></div>
									<h2 class="twitter-post-username">
									<a href="#">#Créola</a>
									</h2>
									<p class="twitter-post">"Styliste d'exception ! Chaque création est en soit une oeuvre d'art que l'on ressent comme une émotion."</p>

						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="container-fluid" id="shop">
			<div class="row">
				<div id="effect" class="effects clearfix">
					<div class="col-md-4 left nopadding">
						<div class="left-box-1">
							<div class="img">
								<img src="img/l1.jpg" alt="Leather Seats">
								<div class="overlay">
									<a href="http://google.com/" class="expand">leather seats</a>
									<a class="close-overlay hidden">x</a>
								</div>
							</div>
						</div>
						<div class="left-box-2 box">
							<div class="img">
								<img src="img/l2.jpg" alt="Custom Seats">
								<div class="overlay">
									<a href="#" class="expand">custom seats</a>
									<a class="close-overlay hidden">x</a>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="left-box-btm box">
							<div class="img">
								<img src="img/l3.jpg" alt="Limited Edition">
								<div class="overlay">
									<a href="#" class="expand">limited edition</a>
									<a class="close-overlay hidden">x</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 mid nopadding">
						<div class="mid-box-1 box">
							<div class="img">
								<img src="img/l4.jpg" alt="Shop Bags">
								<div class="overlay">
									<a href="#" class="expand">shop bags</a>
									<a class="close-overlay hidden">x</a>
								</div>
							</div>
						</div>
						<div class="mid-box-2 box">
							<div class="img">
								<img src="img/l5.jpg" alt="Shop Bikes">
								<div class="overlay">
									<a href="#" class="expand">shop bikes</a>
									<a class="close-overlay hidden">x</a>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-4 right nopadding">
						<div class="right-box-1 box">
							<div class="img">
								<img src="img/l6.jpg" alt="Shop Now">
								<div class="overlay">
									<a href="#" class="expand">shop now</a>
									<a class="close-overlay hidden">x</a>
								</div>
							</div>
						</div>
						<div class="right-box-2 box">
							<div class="img">
								<img src="img/l7.jpg" alt="Shop Seats">
								<div class="overlay">
									<a href="#" class="expand">shop seats</a>
									<a class="close-overlay hidden">x</a>
								</div>
							</div>
						</div>
						<div class="right-box-3 box">
							<div class="img">
								<img src="img/l8.jpg" alt="Shop Accessories">
								<div class="overlay">
									<a href="#" class="expand">shop accessories</a>
									<a class="close-overlay hidden">x</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<section class="discover">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<a href="#" class="shop-btn">Shop en construction</a>
					</div>
				</div>
			</div>
		</section>
		<section class="sign_up">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 sign-up">
						<h2 class="logo-header">Restons connectés</h2>
						<form name="signup-form">
							<input class="signup-input" type="email" name="email_address" value="" placeholder="entrez votre email..." title="Merci de saisir un email valide." required>
							<button type="submit" class="submit-btn">GO</button>
						</form>
					</div>
				</div>
			</div>
		</section>
		<footer id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-4 footer-leftcol">
						<p><span class="bold-16p">Nicole Vilo</span><br>
						Quartier Derrière Morne<br>
						97227 Sainte Anne - FWI Martinique
						</p>
					</div>
					<div class="col-md-4 footer-midcol">
						<ul>
							<!--<li><a href="#" class="twitter-icon">Twitter</a></li>-->
							<li><a href="https://www.facebook.com/nicolevilo" class="facebook-icon">Facebook</a></li>
							<!--<li><a href="#" class="pintrest-icon">Pintrest</a></li>-->
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-4 footer-rightcol">

            <p><span class="bold-16p">+596 696 024 922<br>
            nicolevilo[at]hotmail.com</span></p>
					</div>
				</div>
			</div>
		</footer>
